@using DevExtreme.AspNet.Mvc.Builders
@using DRCDesignerWebApplication.ViewModels
@model DRCDesignerWebApplication.ViewModels.DrcCardViewModel;



    @using (Html.BeginForm("Put", "DrcCards", FormMethod.Post)) //, new { id = "UpdateDrcCardName"+@Model.Id}
    {
<div class="d-flex m-1 flex-column justify-content-around">
    <div id="CardForm">
        @(Html.DevExtreme().Form<DrcCardViewModel>()
                  .FormData(Model)
              .ValidationGroup("CardName")
              .Items(formItems =>
                  {
                   
                      formItems.AddSimpleFor(m => m.Id)
                      .Editor(m => m.TextBox().Width(0).Height(-100))
                      .Label(l => l.Visible(false));

                      formItems.AddSimpleFor(m => m.SubdomainId)
                          .Editor(m => m.TextBox().Width(0).Height(-100))
                          .Label(l => l.Visible(false));

                      formItems.AddSimpleFor(m => m.DrcCardName)
                          .Label(l => l.Visible(false))
                          .HelpText("Document Name")
                          .IsRequired(true).Editor(e => e
                              .TextBox()
                              .StylingMode(EditorStylingMode.Outlined)
                              .Height(60)
                              .Width(300)


                          );
                  })

              )
        <div class="d-flex">
            @(Html.DevExtreme().Button()
                  .Text("Save")
                  .ID("CardNameButton")
                  .StylingMode(ButtonStylingMode.Outlined)
                  .ValidationGroup("CardName")
                  .UseSubmitBehavior(true))
        </div>
    </div>
 
</div>
    

}