@using DevExtreme.AspNet.Mvc.Builders
@using DRCDesignerWebApplication.Controllers
@using DRCDesignerWebApplication.ViewModels
@model DRCDesignerWebApplication.ViewModels.DrcCardViewModel;

<style>
  
</style>
<div class="d-flex flex-column ml-3">
    @*<h5>Document Name:</h5>*@
        @(Html.DevExtreme().DataGrid<DrcCardViewModel>()
              .ShowBorders(false)
              .ElementAttr(new { style = "margin-left:240px;" })
              .Width(670)
              .AllowColumnResizing(true)
              .Scrolling(z=>z.ShowScrollbar(ShowScrollbarMode.Never))
              // .ShowColumnHeaders(false)
              .HoverStateEnabled(false)
              .ElementAttr(new {style="margin-top:-2px;"})
              
              .Editing(editing =>
              {
                  editing.Mode(GridEditMode.Cell);
                  editing.Mode(GridEditMode.Form).Form(a=>a.ColCount(3));
                  editing.AllowUpdating(true);
              })
              .DataSource(a => a.Mvc().Controller("DrcCards")
                  .LoadAction("GetCard")
                  .UpdateAction("Put")
                  .Key("Id").LoadParams(new { Id = Model.Id }))
              .Columns(columns => {
                  columns.AddFor(m => m.DrcCardName).AllowSorting(false).HeaderCellTemplate("Document Name").Width(220);

                  columns.AddFor(m => m.SecurityCriticalOption).AllowSorting(false)
                      .Caption("Security Option")
                      .Width(185)
                      .Lookup(lookup =>
                      {
                          lookup.DataSource(FieldsController.GetSecurityCriticalOptions());
                          lookup.DisplayExpr("Name");
                          lookup.AllowClearing(true);
                          lookup.ValueExpr("Id");

                      }).SetCellValue("es");

                  columns.AddFor(m => m.DeleteBehaviorOption).AllowSorting(false)
                      .Caption("Delete Option")
                      .Width(185)
                      .Lookup(lookup =>
                      {
                          lookup.DataSource(DrcCardsController.GetDeleteBehaviorOptions());
                          lookup.DisplayExpr("Name");
                          lookup.AllowClearing(true);
                          lookup.ValueExpr("Id");


                      }).SetCellValue("es");

                  columns.AddFor(m => m.Definition)
                      .Visible(false)
                      .FormItem(i => i
                          .Editor(e => e
                              .TextArea().StylingMode(EditorStylingMode.Outlined)).IsRequired(true)
                          .ColSpan(3)
                      );

              })

              )

</div>
    