@using DRCDesigner.Entities.Concrete


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "index";
}
@{
    Layout = "_Layout";
}

<style>
    #gridContainer {
        margin-left: 2%
    }
</style>
<div class="d-flex align-content-center m-5">
    @(Html.DevExtreme().DataGrid<Role>().ID("gridContainer")
                                                                    .ShowBorders(true)
                                                                    .Paging(paging => paging.PageSize(6))
                                                                    .Editing(editing =>
                                                                    {
                                                                        editing.Mode(GridEditMode.Cell);
                                                                        editing.AllowAdding(true);
                                                                        editing.AllowDeleting(true);
                                                                        editing.AllowUpdating(true);

                                                                    })
                                                                    .Columns(columns =>
                                                                    {
                                                                        columns.AddFor(m => m.RoleName);
                                                                        columns.AddFor(m => m.SubdomainVersionId).Lookup(l=>l.DataSource(d => d.Mvc().Controller("SubdomainVersions").LoadAction("GetAllVersionWithSubdomainNames").Key("Id")).DisplayExpr("VersionNumber").ValueExpr("Id"))
                                                                            .EditCellTemplate(@<text>
                                                                            @Html.DevExtreme().SelectBox().OnValueChanged(@"function(args) { gridBox_valueChanged(args, setValue); }").DataSource(d => d.Mvc().Controller("SubdomainVersions").LoadAction("GetAllVersionWithSubdomainNames").Key("Id")).DisplayExpr("VersionNumber").ValueExpr("Id").DataSourceOptions(o => o.Group("SubdomainName")).Grouped(true)
                                                                        </text>);
                                                                                                                                    })

                                                                                                                                                                                                    .DataSource(d => d.Mvc()
                                                                                                                                                                                                        .Controller("Roles")
                                                                                                                                                                                                        .LoadAction("Get")
                                                                                                                                                                                                        .UpdateAction("Put")
                                                                                                                                                                                                        .InsertAction("Post")
                                                                                                                                                                                                        .DeleteAction("Delete")
                                                                                                                                                                                                        .Key("Id")
                                                                                                                                                                                                    ).SearchPanel(searchPanel => searchPanel
                                                                                                                                                                                   .Visible(true)
                                                                                                                                                                                   .Width(240)
                                                                                                                                                                                   .Placeholder("Search...")
                                                                                                                                                                                )
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        .OnRowRemoved(@<text> function(e) { logEvent("RowRemoved"); } </text>)
    )

</div>
<script>
    function gridBox_valueChanged(args, setValueMethod) {
        var $dataGrid = $("#gridContainer");

        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(args.value, false);
            console.warn(args);
        }
        setValueMethod(args.value);
    }
</script>