@using DRCDesignerWebApplication.Models

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "index";
}
@{
    Layout = "_Layout";
}

<style>
    #gridContainer {
        margin-left: 50px;
    }
</style>
<div>

    @(Html.DevExtreme().DataGrid<DRCDesignerWebApplication.Models.Subdomain>().ID("gridContainer")
                                                        .ShowBorders(true)
                                                        .Paging(paging => paging.PageSize(6))
                                                        .Width(1200)
                                                        .Editing(editing =>
                                                        {
                                                            editing.Mode(GridEditMode.Cell);
                                                            editing.AllowAdding(true);
                                                            editing.AllowDeleting(true);
                                                            editing.AllowUpdating(true);
                                                            editing.UseIcons(true);



                                                        })
                                                        .Columns(columns =>
                                                        {
                                                            columns.AddFor(m => m.SubdomainName);


                                                        })
                                                          .DataSource(d => d.Mvc()
                                                        .Controller("Subdomains")
                                                        .LoadAction("Get")
                                                        .UpdateAction("Put")
                                                        .InsertAction("Post")
                                                        .DeleteAction("Delete")
                                                        .Key("ID")
                                                    ).SearchPanel(searchPanel => searchPanel
                                   .Visible(true)
                                   .Width(240)
                                   .Placeholder("Search...")
                                )

    )
</div>

<script>
    function logEvent(eventName) {
        var logList = $("#events ul"),
            newItem = $("<li>", { text: eventName });
        logList.prepend(newItem);
    }




</script>