
@using DevExtreme.AspNet.Mvc.Builders
@using DRCDesigner.Entities.Concrete


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "index";
}
@{
    Layout = "_Layout";
}

<style>
    #gridContainer {
        margin-left: 2%
  
    }

</style>
<div class="d-flex align-content-center m-5">

    @(Html.DevExtreme().DataGrid<Subdomain>().ID("gridContainer")
                                                        .ShowBorders(true)
                                                        .Paging(paging => paging.PageSize(9))
                                                        .Width(1700).Height(600).SearchPanel(searchPanel => searchPanel
                                                            .Visible(true)
                                                            .Width(300)
                                                            
                                                            .Placeholder("Search..."))
                                                         .Editing(editing =>
                                                         {

                                                             editing.Mode(GridEditMode.Cell);
                                                            editing.AllowAdding(true);
                                                            editing.AllowDeleting(true);
                                                            editing.AllowUpdating(true);
                                                            editing.UseIcons(true);

                                                        })
                                                        .Columns(columns =>
                                                        {
                                                            columns.AddFor(m => m.SubdomainName);
                                                        })
                                                          .DataSource(d => d.Mvc()
                                                        .Controller("Subdomains")
                                                        .LoadAction("Get")
                                                        .UpdateAction("Put")
                                                        .InsertAction("Post")
                                                        .DeleteAction("Delete")
                                                        .Key("Id")
                                                    ).MasterDetail(md => {
                                                                              md.Enabled(true);
                                                                              md.Template(@<text>
                                                                                              @Html.Partial("MasterDetailPartialView")
                                                                                           </text>);
                                                                             
                                                    })
                                )

    
</div>
<script>
    function customizeDisplayText(cell, info) {
        var rowData = info.row.data;

        if (!rowData)
            return;
        var texts = [];
        if (rowData.ReferencedVersionIds && rowData.ReferencedVersionIds.length) {
            for (var i = 0; i < rowData.ReferencedVersionIds.length; i++) {
                var value = rowData.ReferencedVersionIds[i];
                var displayText = info.column.lookup.calculateCellValue(value);
                if (displayText)
                    texts.push(displayText);
            }
        }
        cell.append(texts.toString());
    };
</script>
