
@using DRCDesigner.Entities.Concrete


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "index";
}
@{
    Layout = "_Layout";
}

<style>
    #gridContainer {
        margin-left: 5%
  
    }

</style>
<div class="d-flex align-content-center m-5">

    @(Html.DevExtreme().DataGrid<Subdomain>().ID("gridContainer")
                                                        .ShowBorders(true)
                                                        .Paging(paging => paging.PageSize(6))
                                                        .Width(1200)
          .Editing(editing =>
                                                        {
                                                            editing.Mode(GridEditMode.Cell);
                                                            editing.AllowAdding(true);
                                                            editing.AllowDeleting(true);
                                                            editing.AllowUpdating(true);
                                                            editing.UseIcons(true);

                                                        })
                                                        .Columns(columns =>
                                                        {
                                                            columns.AddFor(m => m.SubdomainName);

                                                        })
                                                          .DataSource(d => d.Mvc()
                                                        .Controller("Subdomains")
                                                        .LoadAction("Get")
                                                        .UpdateAction("Put")
                                                        .InsertAction("Post")
                                                        .DeleteAction("Delete")
                                                        .Key("Id")
                                                    ).SearchPanel(searchPanel => searchPanel
                                   .Visible(true)
                                                        .Placeholder("Search...")
                                )

    )
</div>

<script>
    function logEvent(eventName) {
        var logList = $("#events ul"),
            newItem = $("<li>", { text: eventName });
        logList.prepend(newItem);
    }




</script>