
@model DRCDesignerWebApplication.ViewModels.SubdomainListViewModel

<ul class="nav nav-pills">

    @foreach (var subdomain in Model.Subdomains)
    {
        var css = "btn nav-link text-white";
        <li class="nav-item">
            @if (subdomain.Id == Model.CurrentSubdomain)
            {
                css += "active btn-secondary";
            }

            <a href="/DrcCards/index?id=@subdomain.Id" class="@css">@subdomain.SubdomainName</a>
        </li>
    }

</ul>

