

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "HelpPage";
}
<div class="min-vh-100">
    <div class="d-flex justify-content-center pt-5"> <h3 class=" border-bottom rounded-bottom mr-5">&nbsp; Drc Designer Guide&nbsp; </h3></div>
    <div>
        <ol>

            <li class="ml-4 h5 pt-5 mt-4">How can I start a project?</li>
            <li class="ml-4 h5 pt-4">How can I start a project?</li>
            <li class="ml-4 h5 pt-4">How can I start a project?</li>
            <li class="ml-4 h5 pt-4">How can I start a project?</li>
        </ol>
    </div>

</div>