@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_Layout";
}


<div class=" mt-5 pt-4 pr-4" >

    <h3 class="text-center">DRC Model Designer</h3>

    <p class="m-5 align-content-center p-5">
        &nbsp;&nbsp;&nbsp;&nbsp; This model is a collection of hand cards that represent whole or part of an application or problem. Aim of that modeling method is to
        identify user requirements with similar pieces of cards and create a simple system model in a systematic way. Because of easy and simple usability,
        that modeling is an effective method for developers and users to work together to identify and understand the business structure.
    </p>
</div>